<h1>Welcome to Storyboard</h1>
<% if current_user.class == Admin %>
    <%= link_to "View all Admins", admins_path %>
<% end %>
<br>
<%= link_to "View all Projects", projects_url %>
<br>
<%= link_to "View all Developers", developers_url %>