<h1>New Story</h1>

<%= render 'form' %>

<% if Project.find_by(id: current_user.project_id).nil? %>
    <%= link_to 'Back', projects_path %>
    <% else %>
    <%= link_to 'Back', project_path(Project.find_by(id: current_user.project_id)) %>
<% end %>
